/* Home - Navbar*/

body{
    font-family: Century Gothic;
}

.navbar{

    height: 100px;
    background-color: rgb(7, 59, 78);
    width: 100vw;
}

.navbar-nav{
    height: 100%;;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar-nav li:hover > .dropdown-menu {
    display: block;
}


.nav-item{
    position: relative;
    display: inline-block;
    list-style: none inside;
    margin: 0;
    padding: 0;
}

.nav-link{
    cursor: pointer;
    background-color: #58abe3;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius:10px;
}
.nav-link:hover, .nav-link:focus {
    background-color: #a4cae5;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /*z-index: 1;*/
    margin-top: 15px;
    top: 90%;
    left: 0;
    transition: display 0.3s ease-in-out;
    margin-left: 0;
    padding-left: 0;
    border-radius: 4px;
}

.dropdown-menu li {
    display: block;
    position: relative;
    float: left;
    width: 160px;
    line-height: 35px;
}

.dropdown-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease-in-out;

}

.dropdown-item:hover {
    background-color: #ddd;
}

.navbar a{
    text-decoration: none;
    font-weight: bold;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 600px;
    background-color: rgb(196, 233, 246);
    width: 100vw;
}

h1{
    font-weight: bolder;
    font-size: 70px;
    max-width:650px;
	text-shadow: 7px 4px 5px rgb(93, 152, 186);
}

main img{
    width: 30%;
    border: black;
    border-radius: 20px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

/* Alta Odontologos */

.col-sm-7{
    background-color:#63b6e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding:10px;
    border-radius:10px;
    height: 400px;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-top: 60px;
    margin-bottom: 60px;
}

#add_new_odontologo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 300px;
}

#add_new_odontologo .btn{
    width: 120px;
    height: 50px;
    background-color: rgb(26, 26, 96);
    color: white;
    border-radius: 10px;
    font-size: large;
}
#add_new_odontologo .btn:hover{
    background-color: rgba(26, 26, 96, 0.603);
}

.form-group{
    display: flex;
    flex-direction: column;

    align-items: center;

}

/* Listar Odontologos */

th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
    border-bottom: 3px solid #000000;
}

tr {
    border-bottom: 3px solid #000000;
}

#div_odontologo_table h2{
    font-weight: bolder;
    font-size: 60px;
    margin-left: 20px;
	text-shadow: 7px 4px 5px rgb(93, 152, 186);
}

#odontologoTable{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 20px;
}

/* Alta Pacientes */

.row2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin-top: 60px;
    margin-bottom: 60px;
}

#add_new_paciente{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 650px;
    width: 300px;
    margin-bottom: 20px;
}

#add_new_paciente .btn{
    width: 120px;
    height: 50px;
    background-color: rgb(26, 26, 96);
    color: white;
    border-radius: 10px;
    font-size: large;
    margin-top: 15px;

}
#add_new_paciente .btn:hover{
    background-color: rgba(26, 26, 96, 0.603);
}

.col-sm-72{
    background-color:#63b6e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding:10px;
    border-radius:10px;
    height: 700px;
}

/* Listar Pacientes */

#div_paciente_table h2{
    font-weight: bolder;
    font-size: 60px;
    margin-left: 20px;
	text-shadow: 7px 4px 5px rgb(93, 152, 186);
}

.col-md-8{
    height: 100%;
    width: 100%;
}

#pacienteTable{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 17px;
}

/* Alta Turnos */

#add_new_turno{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 300px;
}

#add_new_turno .btn{
    width: 120px;
    height: 50px;
    background-color: rgb(26, 26, 96);
    color: white;
    border-radius: 10px;
    font-size: large;
    margin-top: 25px;
}
#add_new_turno .btn:hover{
    background-color: rgba(26, 26, 96, 0.603);
}

/* Listar Turnos */

#div_turno_table h2{
    font-weight: bolder;
    font-size: 60px;
    margin-left: 20px;
	text-shadow: 7px 4px 5px rgb(93, 152, 186);
}

#turnoTable{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 20px;
}

#turnoTable th{
    padding-left: 80px;
    padding-right: 80px;
}

/* Botón borrar/modificar */

.btn_delete{
background-color: red;
border-radius: 3px;
}

.btn_delete:hover{
background-color: rgba(255, 0, 0, 0.536);
}

.btn_id{
background-color: blue;
border-radius: 3px;
}

.btn_id:hover{
background-color: rgba(0, 0, 255, 0.563);
}


/* Update Form */

#update_paciente_form{
    display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 650px;
        width: 300px;
        margin-bottom: 20px;
}

#div_paciente_updating{
    background-color:#63b6e0;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding:10px;
    border-radius:10px;
    height: 700px;
}

#div_odontologo_updating{
    background-color:#63b6e0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding:10px;
    border-radius:10px;
    height: 300px;
}

#update_odontologo_form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 300px;
}

#update_odontologo_form .btn{
    width: 120px;
    height: 50px;
    background-color: rgb(26, 26, 96);
    color: white;
    border-radius: 10px;
    font-size: large;
}